<div class="container">
  <div class="dashboard">
    <div class="header-tours">
      <h1>My Bookings</h1>
    </div>
    <% if @bookings_guest.any? %>
      <% @bookings_guest.each do |booking_guest| %>
        <%= render "booking_guest", booking: booking_guest %>
      <%end%>
      <%else%>
        <h3>There are no bookings yet</h3>
        <h3><%= link_to "Make one!", tours_path %> </h3>
    <%end%>
  </div>
</div>



