<div class="container">
  <div class="dashboard">
    <div class="header-tours">
      <h1>My Tours</h1>
    </div>

     <div class="welcome-dashboard">
    <% if current_user.sign_in_count == 1 %>
      <p> Welcome <%= current_user.first_name %>! Create your first tour below.</p>
    <%end%>
    </div>
    <div class="new-message">
      <div class="new-message-button">
      <%= link_to "Add new tour", new_tour_path, class: "btn btn-main-pnk new-tour-margin" %>
      </div>
    </div>
    <% @tours.each do |tour| %>
      <%= render "tour", tour: tour %>
    <%end%>
  </div>
</div>
