.map-wrapper {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: top;
  h1 {
    font-size: 32px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 16px;
  }
}

.map-container-full-page {
  height: calc(100vh - 70px);
  width: 100vw;
  position: fixed;
  top: 70px;
}

// MENU

.edit-tour-menu {
  z-index: 2;
  width: 25%;
  background-color: $gray-transparent;
  padding: 1vw;
  margin: 2vh 0vw 2vh 1vw;
  left: 20px;
  position: relative;
}

.menu-label {
  font-weight: bolder;
  color: white;
  padding: 5px 10px;
}

// SEARCHBOX
.add-location-form {
  margin-bottom: 10em;
}

.searchbox-edit-submit {
  position: absolute;
  right: 1vw;
  margin: 0;
}

#location_address {
  width: 100%;
}

.location_address {
  width: 85%;
}

// LOCATION LIST

#locations-list {
  height: 55%;
  overflow-y: auto;
}

.location-box {
  padding: 5px 10px;
  background-color: $light-gray;
  opacity: 1;
  border: solid 1px black;
  position: relative;
  a {
    color: black;
  }
}

.location-icons {
  position: absolute;
  right: 5px;
  bottom: 5px;
  a {
    color: $gray;
  }
}

// SCROLLBAR

