.flex-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: space-around;
  height: 100%;
  padding-left: 0vw;
  padding-right: 0vw;
}

.map-container{
  width: 40vw;
  height: 100%;
  padding: 0;
  position: sticky !important;
  top: 140px;
}

.card-wrapper{
  width: 60vw;
  padding-top: 0px;
  top: 140px;
  padding-right: 2vw;
  padding-left: 2vw;
}

#map{

}

.filter-bar{
  display: flex;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  top: 70px;
  width: 100%;
  height:70px;
  z-index: 998;
  background-color: white;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}

.filter-box-element{
  height: 70px;
  padding-top: 5px;
  text-align: center;
  border-right: 1px solid $light-gray;

  padding-right: 3vw;
  input, label {
    display:block;
    font-weight: lighter;
    font-size: 16px;
  }
  select{
    margin-top: 0.3vh;
    background: white;
    font-size: 16px;
}
}
.location-search{
  padding-top: 5px;
  height: 70px;
  text-align: center;
  border-right: 1px solid $light-gray;
    padding-right: 5vw;
  input, label {
    display:block;
    font-weight: lighter;
    font-size: 16px;
}
}

.duration-search{
  padding-top: 10px;
  height: 70px;
  text-align: center;
  border-right: 1px solid $light-gray;
    padding-right: 5vw;
  input, label {
    font-weight: lighter;
    font-size: 16px;
}
}

.price-search{
  height: 70px;
  padding-top: 10px;
  text-align: center;
  border-right: 1px solid $light-gray;
    padding-right: 5vw;
  input, label {
    font-weight: lighter;
    font-size: 16px;
}
}


.filter-button-element{
  height: 70px;
  padding-top: 25px;
  text-align: center;
    padding-right: 10vw;
  input, button, label {
    display: inline;
    font-weight: lighter;
    font-size: 16px;
}
}

#apply-button{
  visibility: hidden;
}
