.flex-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-content: space-around;
  height: 100%;
  padding-left: 0vw;
  padding-right: 0vw;
}

.map-container{
  width: 40vw;
  height: 100%;
  padding: 0;
  position: sticky !important;
  top: 140px;
}

.card-wrapper{
  width: 60vw;
  padding-top: 0px;
  top: 140px;
  padding-right: 2vw;
  padding-left: 2vw;
}

#map{

}

.filter-bar{
  display: flex;
  position: sticky;
  justify-content: space-around;
  top: 70px;
  width: 100%;
  height:70px;
  z-index: 998;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: white;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}


