.show-container{
  top: 70px;
}
.gallery {
  position: relative;
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-chevron-circle-left:before {
  position: absolute;
  left: 70px;
  top: 50%;
  color: white;
}
.fa-chevron-circle-right:before {
  position: absolute;
  right: 70px;
  top: 50%;
  color: white;
}

.left-footer {
  width: 70%;
  position: absolute;
  left: 0px;
  padding-left: 30px;
  padding-right: 30px;
  h1 {
    color: $gray;
  }
}

.right-footer {
  width: 30%;
  position: absolute;
  right: 0px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  border-left: 1px solid $light-gray;
  p {
    left: 30px;
    color: $gray;
  }
}
.fa-star:before {
  left: 30px;
  color: $yellow;
}
.show-back {
 position: absolute;
 top: 30px;
 left: 40px;
}

.show-book {
 position: absolute;
 right: 30px;
 bottom: 30px;
}




