.show-container{
  top: 70px;
  // height: calc(100vh - 70px);
}
.gallery {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: $light-gray;
}

.fa-chevron-circle-left:before {
  position: absolute;
  left: 70px;
  top: 50%;
  color: white;
  &:hover {
    opacity: 0.5px;
    color: white;
  }
}
.fa-chevron-circle-right:before {
  position: absolute;
  right: 70px;
  top: 50%;
  color: white;
   &:hover {
    opacity: 0.5px;
    color: white;
  }
}

.left-footer {
  width: 80%;
  position: absolute;
  left: 0px;
  padding-left: 30px;
  h1 {
    color: $gray;
  }
}

.right-footer {
  width: 20%;
  position: absolute;
  right: 0px;
  padding-left: 30px;
  padding-top: 30px;
  border-left: 1px solid $light-gray;
  p {
    left: 30px;
    color: $gray;
  }
  a {
    left: 30px;
    color: $yellow;
  }
}

.show-back {
 position: absolute;
 top: 30px;
 left: 40px;
}
.show-book {
 position: absolute;
bottom: 5px;
right: 5px;
}







