
// .banner {
//   background-image:   linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("lisbon.jpeg");
//   //linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.6)), image-url("lisbon.jpeg");
//   color: white;
//   text-align: center;
//   height: 100vh;
//   background-size: cover !important;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 2vh;

// }
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%);

}

.banner-content {
    // display: flex;
    // bottom: 0;
    //background: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%);
    color: #f1f1f1;
    width: 100%;
    height: 100vh;
//     padding: 0px;
  }

.background-video {
    // right: 0;
    z-index: -1;
    width: 100vw;
    height: auto;
    position: absolute;
}
.banner h1 {
  padding-top: 250px;
  font-size: 90px;
  font-weight: bold;
  margin-top: 0px;
  opacity: 1;
  text-shadow: 1px 1px 1px;
  text-align: center;
}
.banner h4 {
  font-size: 25px;
  //font-weight: bold;
  color: white;
  //opacity: 1;
  //text-shadow: 1px 1px 0.5px;
  // padding-bottom: 25px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
.button {
  text-align: center;
  margin-top: 20px;
}

// .create-button-gray {
//   position: absolute;
//   color: $gray;
//   // border: solid $gray;
//   opacity: 0.9;
//   padding: 10px 30px;
//   border-radius: 4px;
//   // text-align: center;

//  &:hover {
//   text-decoration: none;
//   border: solid white;
//   color: white;
//   opacity: 0.9;
//   }
// }

.create-button-login {
  color: white;
  padding: 10px 30px;
  //border: solid white;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 150px;
   &:hover {
  //text-decoration: none;
  color: white;
  opacity: 0.5;
}

}

.create-button-white {
  color: white;
  //border: solid white;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;

 &:hover {
  //text-decoration: none;
  color: white;
  opacity: 0.5;
}
}
.middle-landing {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 300px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top:100px;
  padding: 20px;

  }
  .icon {
    height: 150px;
    color: blue;
  }

.bottom-landing {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 300px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;
}

.bottom {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.bottom-text {
  padding: 10px;
  vertical-align: super;
  margin-right: 50px;
  margin-left: 50px;
}

.bottom-image {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("map.jpeg");
  background-size: cover !important;
  padding: 200px;
  margin-left: 75px;
  // display: flex;
}

.bottom-image-two {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("laptop.jpeg");
  background-size: cover !important;
  padding: 200px;
  margin-right: 75px;
}

.bottom-image-three {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("hands.jpeg");
  background-size: cover !important;
  padding: 200px;
  margin-left: 75px;
  margin-bottom: 20px;
}


// .fa-chart-line:before, .fa-euro-sign:before, .fa-search:before {
//   color: $gray;
//   padding-right: 8px;
//   opacity:0.7;
// }

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
