
.home-btn-positions {
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
}
.login {
  position: absolute;
  top: 20px;
  right: 167px;
}
.login-tourist {
  position: absolute;
  top: 20px;
  right: 185px;
}
.create {
  position: absolute;
  top: 20px;
  right: 20px;
}
.sign-up {
  position: absolute;
  top: 20px;
  right: 270px;
}
.sign-up-tourist {
  position: absolute;
  top: 20px;
  right: 285px;
}

.sign-up-new {
  position: absolute;
  top: 20px;
  right: 179px;
}

.login-new {
  position: absolute;
  top: 20px;
  right: 20px;
}

.middle-landing {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-right: 220px;
  margin-left: 220px;
  margin-top:20px;
  font-family: halvetica;
  // border-bottom: solid 2px;
}

.icon {
  height: 100px;
  -webkit-filter: drop-shadow(2px 2px 2px #888 );
}

.title {
  text-align: center;
  font-size: 70px;
  font-style: bold;
  padding: 30px;
  border-top: solid 1px;
}
.middle-title {
  font-style: halvetica;
}

.bottom-landing {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;
}

.bottom {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.bottom-text {
  padding: 25px;
  vertical-align: super;
  margin-right: 50px;
  margin-left: 50px;
}

.bottom-image {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("map.jpeg");
  background-size: cover;
  padding: 200px;
  margin-left: 75px;
}

.bottom-image-two {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("laptop.jpeg");
  background-size: cover;
  padding: 200px;
  margin-right: 75px;
}

.bottom-image-three {
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.25) 50%), image-url("hands.jpeg");
  background-size: cover !important;
  padding: 200px;
  margin-left: 75px;
  margin-bottom: 20px;
}

.bottom-title {
  font-weight: bold;
}
.description {
  text-align: center;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-size : 50px;
  color: white;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// .footer {
//   position: absolute;
//   height: 100px;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   background-color: #efefef;
//   text-align: center;
// }

.info-window{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    padding-bottom: 10px;
  }
  p{
    margin-bottom: 5px;
  }
}

