<div class="play-index text-center">
<h1 id="play-header"> Welcome to Saga </h1>

    <form class="form-inline" action="/play/1" method="get">
      <input type="text" name="name" value="your name" class="form-control">
      <input type="submit" value="Star playing" class="btn-main-pnk">
    </form>
</div>
