<div class="play-box">
<div class="play-error">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<p>(2/3)</p>
<h4> Story </h4>
  <p>
    Let´s take this tour to the next level.. Watch carefully as you ascend:
  </p>
<h4> Question </h4>
  <p>
    Someone named after a famous Brazilian football player does not allow you to smoke in here... What´s his first name?
    <form class="form-inline" action="/play/3" method="get">
      <input type="text" name="answer" class="form-control">
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </p>
</div>
