<div class="info-window">
<!-- <%= image_tag tour.photo.url(:thumnail)%> -->
<%= link_to tour.title, tour_path(tour), style: "color: black"; %>
<p><i class="fas fa-clock"></i><%= tour.duration %>h</p>
<p><i class="fas fa-euro-sign"></i><%= tour.price %></p>
</div>

