<div class="message">
  <img class="message-small" src="http://via.placeholder.com/200x200">
  <div class="message-name">
    <h3>Category</h3>
    <p>10/07/17</p>
  </div>
  <div class="message-body">
    <p><strong>The Secrets of Lisbon’s Alfama and Baixa</strong></p>
    <p>
     bla
    </p>
  </div>
  <div class="message-status">
    <p class="status active">Active</p>
    <p class="price">€15</p>
  </div>
</div>
