
<div class="banner">

  <div class="banner-content">
    <div class="logo-in-line"> <%= image_tag "logo1.png", class: "logo" %> </div>
    <h1>SAGA</h1>
    <p class="description">Discover the unexpected</p>

<div class="button"> <%= link_to "Discover a Tour", tours_path, class: "text-center create-button-pink border-radius" %></div>
   <div>
    <%= link_to "Create a Tour", root_path, class: "text-center create-button-new border-radius"  %>
</div>

  </div>
  <%= video_tag "lisbon4.mp4", autoplay: "true", loop: "true", muted: true, id: "video-background" %>
</div>

<% content_for :external_script do %>
<script>
const video = document.getElementById('video-background');

video.playbackRate = 0.7;
</script>
<%end%>

