<div class="modal right fade" id= "updateTour" tabindex="-1" role="dialog" aria-labelledby="updateTour" aria-hidden="true">
  <div class="modal-dialog modal-dialog-edit-tour-page" role="document">
    <div class="modal-content modal-content-edit-tour-page" id="updateTourModalBody">
        <%= render 'editTourModalForm' %>
    </div>
  </div>
</div>
