  if (document.getElementById('active-tour')) {
  document.getElementById('active-tour').innerHTML = 'test'
  };

  if (document.getElementById('inactive-tour')) {
  document.getElementById('inactive-tour').innerHTML = 'test'
  };

  // "<p class="status inactive">Inactive</p> \
  // <p> \
  // <a data-remote="true" rel="nofollow" data-method="POST" href="/tours/5/change_status">change to active</a> \
  //   </p> "
