
<div class="show-container">
  <div class="gallery">

    <div class="nxt-right"><i class="fas fa-chevron-circle-right fa-2x"></i></div>
    <div class="nxt-left"><i class="fas fa-chevron-circle-left fa-2x"></i></div>
  </div>

  <div class="left-footer">
    <h2>Description</h2>
    <p>blah blah blah</p>
  </div>

  <div class="right-footer">
    <p>Price:</p>
    <p>Duration:</p>
    <p>Date:</p>
    <p>Reviews:</p>
    <a href="/"><i class="fas fa-star"></i></a>
  </div>
</div>

<%= link_to "Back", tours_path, :class => "btn-back-pnk show-back" %>
<%= link_to "Book", tours_path, :class => "btn-main-pnk show-book" %>

