<div class="banner">
  <div class="banner content">

<h1>Saga</h1>

<p>Create your experience</p>
</div>
</div>
<div class="middle-landing">
  <div class="box">
    <h3>Watch yor business grow</h3><i class="fas fa-chart-line fa-7x" style="color:grey"></i>
</div>
  <div class="box"><h3>Earn extra money</h3><i class="fas fa-euro-sign fa-7x" style="color:grey"></i>

</div>
  <div class="box"><h3>Discover new places</h3>
  <i class="fas fa-search fa-7x" style="color:grey"></i>

</div>
</div>
</div>
<div>
  <div class="bottom-landing-one">
    <div class="bottom-image"></div>
    <div class="bottom-text"><h4>Create your route</h4>
      <p>Crear un espacio en Airbnb es gratis y fácil. Describe tu espacio, indica cuántos huéspedes puedes alojar, agrega fotos y describe todos los detalles interesantes.
Nuestra herramienta de precios puede recomendar precios competitivos, pero tú decides qué precios fijar en tu alojamiento.
</p>
</div>
  </div>
  <div class="bottom-landing-two">
    <div class="bottom-text"><h4>Input your tour</h4>
      <p>Crear un espacio en Airbnb es gratis y fácil. Describe tu espacio, indica cuántos huéspedes puedes alojar, agrega fotos y describe todos los detalles interesantes.
Nuestra herramienta de precios puede recomendar precios competitivos, pero tú decides qué precios fijar en tu alojamiento.</p>
    </div>
    <div class="bottom-image-two"></div>
  </div>
</div>
