.play-header{
  height: 30vh;
  background-color: $gray;
  border-bottom: 6px solid $blue;
}

.play-logo{
  margin-top: 3vh;
  width: auto;
  height: 15vh;
}

.play-title{
  color: white;
  font-size: 32px;
  margin-top: 1vh;
}

.play-index{
  margin-top: 10vh;
}

#play-header{
  margin-bottom: 10vh;
}

.play-box{
  h4{
    margin-bottom: 1vh;
  }
  p{
    margin-bottom: 2vh;
  }
}

.play-error{
  margin: 2vh 0;
}

.player-table{
  width: 80vw;
  margin: 2vh auto;

  table, th, td {
   border: 1px solid black;
   text-align: center;
}

  table {
    width: 100%;
}

  th {
    height: 30px;
}
  th {
    background-color: $pink;
    color: white;
}
}


