/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.notice-box {
  position: fixed;
  width: 600px;
  top: 0px;
  z-index: 100;
  left: 50%;
  margin-left: -300px;
  margin-top: 7px;
  animation-name: myAnimation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}

.alert {
  margin: 0;
  color: white;
  text-align: center;
  background-color: $red;
}

.notice {
  background-color: $blue !important;
}

@keyframes myAnimation{
  0%{
      opacity: 1;
      // transform: rotateX(90deg);
  }
  80%{
      opacity: 0.8;
      transform: rotateX(0deg);
  }
  100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
}
}

