/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.notice-box {
  position: fixed;
  width: 600px;
  top: 0px;
  z-index: 100;
  left: 50%;
  margin-left: -300px;
  margin-top: 7px;
}

.alert {
  background-color: $red;
}

.notice {
  background-color: $blue;
}

.flash-message {
  margin: 0;
  color: white;
  text-align: center;
}

// .alert-info {
//   background: $green;
// }
// .alert-warning {
//   background: $red;
// }
