// TAB BUTTONS
.nav-pills {
  a{
    color: $pink;
    border: 1px solid $pink;
  }
  &:focus {
    outline: none !important;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background-color: $pink !important;
  border: 1px solid $pink;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: white !important;
  color: $pink;
  ;
}

.applycolor {
  background-color: white;
  text-decoration: none;
  color: black !important ;
}

.applycolor:hover {
  background-color: white;
  text-decoration: none;
  color: black !important;
}
.message-link{
  color: black;
  &:hover {
    opacity: 0.6;
    color: black;
  }
  &:focus {
    outline: none !important;
  }
}

// MAIN BUTTON - PINK
.btn-main-pnk {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: $pink;
  color: white !important;
  border: solid 2px $pink;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }
  &:focus {
    outline: none !important;
  }
}

// BACK BUTTON - PINK
.btn-back-pnk {
  color: $pink;
  border: solid 2px $pink;
  padding: 10px 20px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    color: $pink;
    opacity: 0.5;
  }
  &:focus {
    outline: none !important;
  }
}

// FORM BUTTON - BLUE
.btn-form-blue {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: $pink;
  color: white !important;
  border: none !important;
  width: 100%;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
  }
  &:focus {
    outline: none !important;
  }
}

// INVERSE FORM BUTTON - BLUE
.btn-form-inv-blue {
  background-color: white;
  color: $pink;
  // width: 100%;
  border: solid 2px $pink;
  padding: 10px 20px;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    opacity: 0.5px !important;
    color: $pink;
  }
  &:focus {
    outline: none !important;
  }
}

// CIRCULAR BUTTON - PINK
.btn-rnd-pnk {
  border: 2px solid $pink;
  border-radius: 50%;
  padding: 10px;
}

// BUTTONS FOR EDIT TOUR MENU

.btn-edit-tour-menu-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0 1vw 1vw 0;
}

.btn-edit-tour-menu-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0 0 1vw 1vw;
  color: white !important;
}


// FILTER BUTTON - PINK
 .btn-filter-pnk {
  color: $pink;
  border: solid 2px $pink;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: white;
  &:hover {
    text-decoration: none;
    color: $pink;
    opacity: 0.5px !important;
  }
  &:focus {
    outline: none !important;
  }
}

#edit-upload-photo{

}


.btn-edit-photo{

}

#filname-edit{
  margin-top: 10px;
  margin-bottom: 10px;
}




