
.card-body {
  height: 260px;
  background-size: cover;
  color: white;
  position: relative;
  border-radius: 3px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.card-body:hover .card-footer {
  height: 100%;
}
.card-category {
  position: absolute;
  top: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;
  color: $gray;
}
.card-description {
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  margin-bottom: 0px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 1.5px 1.5px 0.4px $gray;
  color: white;
  font-size: 46.5px;
  opacity: 0.8;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
// .fa-user:before {
//   color: white;
// }
.card-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 30%;
  transition: .5s ease;
  align-items: center;
  justify-content: center;
  .center-title {
    text-align: center;
    position: absolute;
    top: 10px;
    h2 {
      color: $gray;
      font-size: 25px;
    }
  }
  .card-location {
   text-align: center;
   position: absolute;
   top: 180px;
   border-bottom: 1px solid $light-gray;
   p {
     font-size: 15px;
     color: $gray;
     font-weight: lighter;
   }
 }
 .card-price {
  position: absolute;
  right: 35%;
  top: 225px;
  p {
    font-size: 15px;
    color: $gray;
    font-weight: lighter;
  }
}
.card-time {
 position: absolute;
 left: 33%;
 top: 225px;
 p {
  font-size: 15px;
  color: $gray;
  font-weight: lighter;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
  }
}
}

.fa-map-marker:before, .fa-euro-sign:before, .fa-clock:before {
  color: $blue;
  padding-right: 8px;
}
.card-container{
  padding-left: 13vw;
  padding-right: 13vw;
}
