
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 0px;
  border-bottom: 1px solid $gray;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 200px;
  max-width: 200px;
}
.message-name h3 {
  font-size: 16px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  text-align: center;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
  width: 20vw
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  text-align: center;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  padding-left: 50px;

  p {
    margin: 0;
  }
}
.status.active {
  color: $pink;
}
.status.inactive {
  color: #a0a0a0;
  &:hover {
    // text-decoration: none;
    color: #a0a0a0;
  }
}
.status.pending {
  color: black;
}

.message-edit-link {
  margin-left: 50px;
  a {
    display: block;
    color: $gray;
    font-size: 18px;
    &:hover {
      color: black;
      font-size: 18px;
    }
  }
}

.new-tour-margin{
  margin-bottom: 25px;
  margin-top: 25px;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
}

.back-to-tours {
 margin-bottom: 25px;
 margin-top: 25px;
}

.message-small{
  height:150px;
  width: 150px;
}

.dashboard{
  margin-top: 50px;

}


.new-message::before {
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),image-url("card_background.png");
  filter: blur(1.5px);
  background-position: right 0px top 5px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.new-message{
  position: relative;
  padding: 20px 0;
  height: 191px;
  text-align: center;
  border: 1px solid #a0a0a0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tours{
  text-align: left;
  padding: 0px 0px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 32px;
  margin-bottom: 20px;
  h1 {
    margin:0;
    color: $gray;
  }
}

.message-rating{
  p{
    font-size: 16px;
  }
}

.welcome-dashboard{
  text-align: center;
  font-size: 32px
}

.message-body.tourist{
  a {
    color: $gray;
    &:hover {
      text-decoration: none !important;
      color: #a0a0a0;
    }
  }
  strong {
    color: $gray;
    &:hover {
      color: #a0a0a0;
    }
  }
}
