.text-center {
  color: $gray;
}

.form-inputs {
  color: $gray;
  label {
    padding-bottom: 10px;
  }
}

.close {
  color: #fff;
  opacity: 1;
}

.fa-info-circle {
  padding-right: 10px;
  color: $blue;
}

.modal-content {
  border-radius: 4px;
}

.modal-header {
  position: relative;
}

.modal-backdrop {
   background-color: gray;
}

// EDIT TOUR PAGE MODALS

.modal-dialog-edit-tour-page {
  margin-top: calc(70px + 2vh) !important;
  margin-right: 2vw !important;
  margin-bottom: 2vh !important;
  margin-left: 50% !important;

  width: calc(50% - 2vw) !important;
  height: calc(100vh - 70px - 4vh) !important;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  // Transition in
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
  // Transition out
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(2%, 0, 0);
   -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}


.modal-content-edit-tour-page {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  background-color: $gray-transparent;
  h2, h3, p {
    color: white;
  }
  h3 {
    font-weight: bolder;
  }
}

.modal-header-edit-tour-page {
  padding-right: 1vw;
  padding-left: 1vw;
}

.modal-body-edit-tour-page {
  flex-grow: 1;
  padding: 1vw;
  position: relative;
  overflow-y: scroll;
}

.modal-footer-edit-tour-page {
  display: flex;
  justify-content: flex-start;
  padding-left: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
}

.push-box {
  flex-grow: 1;
}

.modal-label {
  color: white;
}

.btn-modal-bottom-left {
  // position: absolute;
  // left: 1vw;
  // bottom: 1vw;
}

.btn-modal-bottom-right {
  // position: absolute;
  // right: 1vw;
  // bottom: 20px;
}

#filname-edit-edit-tour-page {
  color: white;
}

.add-picture-label {
  left: 0px;
  font-weight: bold;
}
