<div class="form-wrapper">
  <div class="form-background"></div>
  <div class="form-container col-sm-5">
    <div class="form-card">
      <h2>Add a Review</h2>

      <%= simple_form_for [@tour, @booking, @review] do |f| %>
      <div class="form-inputs">
        <%= f.input :content, label: "Review:" %>
        <div class="form-group integer required review_rating"><label class="form-control-label integer required" for="review_rating">Rating: </label>
                <fieldset>
                <span class="star-cb-group">
                <input type="radio" id="rating-5" name="review[rating]" value="5" />
                <label for="rating-5">5</label>
                <input type="radio" id="rating-4" name="review[rating]" value="4" checked="checked" />
                <label for="rating-4">4</label>
                <input type="radio" id="rating-3" name="review[rating]" value="3" />
                <label for="rating-3">3</label>
                <input type="radio" id="rating-2" name="review[rating]" value="2" />
                <label for="rating-2">2</label>
                <input type="radio" id="rating-1" name="review[rating]" value="1" />
                <label for="rating-1">1</label>
                <input type="radio" id="rating-0" name="review[rating]" value="0" class="star-cb-clear" />
                <label for="rating-0">0</label>
                </span>
                </fieldset>

      </div>
      <div class="form-actions">
        <%= f.button :submit, "submit", :class=> "btn-form-blue" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--   <input type="radio" name="review[rating]" id="review_rating" value="1" checked> 1
            <input type="radio" name="review[rating]" id="review_rating" value="2"> 2
            <input type="radio" name="review[rating]" id="review_rating" value="3"> 3
            <input type="radio" name="review[rating]" id="review_rating" value="4"> 4
            <input type="radio" name="review[rating]" id="review_rating" value="5"> 5
        </div> -->
